*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: aliceblue;
}

html,body
{
  height: 100%;
  width: 100%;
}

body 
{
  background-color: rgb(0, 0, 0);
}
.Parent
{
  padding: 20px;
  display: flex;
  align-items: center;
 
  gap: 20px;

}

.card
{
  border: 2px solid rgb(250, 242, 242);
  width: 400px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(36, 35, 35);
}

.card p{
  margin: 10px 0;
}

.card img
{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 25%;
}



.card button
{
  padding: 10px 20px;
  background-color: rgb(17, 5, 86);
  color: rgb(141, 236, 8);
  border: none;
  border-radius: 10px;

}

.card:hover {
  transform: scale(1.03);
  transition: 0.3s ease;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.card button:hover {
  background-color: rgb(25, 10, 120);
  cursor: pointer;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  }
}

body {
  background-color: #0a0a0a;
}

.card {
  background-color: #1e1e1e;
}
